<%- include("partials/header"); -%>

<h1>Weather by City</h1>
<form class="" action="/weather" method="post">
<div class="form-group">
    
    <label>Input City Below</label>
    <input class="form-control" type="text" name="cityInput">

    </div>
    <button class="btn btn-primary" type="submit" name="button">Get Weather</</button>
    </button>

    
</form>
<%- include("partials/footer"); -%>

